@model PontoId_API.Models.Turma

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TurmaNumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TurmaNumero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoAula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodoAula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeAlunos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeAlunos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Escola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Escola.NomeEscola)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TurmaId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
