@model IEnumerable<PontoId_API.Models.Turma>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Adicionar Turma</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TurmaNumero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodoAula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeAlunos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escola)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TurmaNumero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodoAula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeAlunos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Escola.NomeEscola)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TurmaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.TurmaId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.TurmaId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
