@model PontoId_API.Models.Escola

@{
    ViewData["Title"] = "Delete";
}

<h1 class="m-5">Deletar</h1>

<h3 class="m-5">Tem certeza que deseja deletar?</h3>
<div class="m-5">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEscola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEscola)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BairroEscola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BairroEscola)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CidadeEscola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CidadeEscola)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoEscola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoEscola)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CepEscola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CepEscola)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplementoEscola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplementoEscola)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneEscola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneEscola)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogoEscola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogoEscola)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EscolaId" />
        <input type="submit" value="Deletar" class="btn btn-danger mt-2" />
        <a asp-action="Index" class="btn btn-primary mt-2">Voltar</a>
    </form>
</div>
