@model PontoId_API.Models.Aluno

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeAluno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdadeAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdadeAluno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoAluno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsavelAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsavelAluno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneAluno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maioridade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maioridade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoAluno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Turma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Turma.TurmaNumero)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AlunoId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
